body{
    padding: 0;
    margin: 0;
}
.menu{
    width: 100%;
    height: 100px;
    top: 0px;
    backface-visibility: hidden;
}

#logo{
    position: relative;
    float: left;
    width: 230px;
    height: 100px;
    background-image: url(UI/logo2.png);
}

.menukey{
    position: relative;
    float: right;
    width: 150px;
    height: 50px;
    top: 25px;
}

.wrapper{
    width: 100%;
    height: 400px;
    
    
}


#rcmd{
    width: 90%;
    height: 560px;
    position: relative;
    left: 5%;
}

#reclist{
    width: 100%;
    height: 400px;
    position: relative;
    top:65px;
}

.recIcon{
    width:180px;
    height: 180px;
    background-size: 180px 180px;
    position:relative;
    left: 25%;
}