.ghbutton { 
    position: relative; 
    overflow: visible; 
    display: inline-block; 
    padding: 0.5em 1em; 
    border: 1px solid #d4d4d4; 
    margin: 0;
    text-decoration: none; 
    text-shadow: 1px 1px 0 #fff; 
    font:11px/normal sans-serif; 
    color: #333; 
    white-space: nowrap; 
    cursor: pointer; 
    outline: none; 
    background-color: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    -o-background-clip: padding-box; 
    /*background-clip: padding-box;*/ /* commented out due to Opera 11.10 bug */
    -webkit-border-radius: 0.2em; 
    -moz-border-radius: 0.2em; 
    border-radius: 0.2em; 
    /* IE hacks */
    zoom: 1; 
    *display: inline; 
}

.ghbutton:hover,
.ghbutton:focus,
.ghbutton:active {
    border-color: #FFA600;
    border-bottom-color: #F7A11F;
    text-decoration: none; 
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3); 
    color: #fff; 
    background-color: #FED136;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fed136), to(#FDDA38));
    background-image: -moz-linear-gradient(#FED136, #FDDA38);
    background-image: -o-linear-gradient(#FED136, #FDDA38);
    background-image: linear-gradient(#FED136, #FDDA38);
}

.ghbutton:active,
.ghbutton.active {
    border-color: #FED136;
    border-bottom-color: #FED136;
    color: #fff; 
    background-color: #ffcc33;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdda38), to(#fed136));
    background-image: -moz-linear-gradient(#fdda38, #fed136);
    background-image: -o-linear-gradient(#fdda38, #fed136);
    background-image: linear-gradient(#fdda38, #fed136);
}

/* overrides extra padding on button elements in Firefox */
.ghbutton::-moz-focus-inner {
    padding: 0;
    border: 0;
}


.roundBtn{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    cursor: hand;
}

.checkBtn {
  background: #fcd968;
  background-image: -webkit-linear-gradient(top, #fcd968, #fcd968);
  background-image: -moz-linear-gradient(top, #fcd968, #fcd968);
  background-image: -ms-linear-gradient(top, #fcd968, #fcd968);
  background-image: -o-linear-gradient(top, #fcd968, #fcd968);
  background-image: linear-gradient(to bottom, #fcd968, #fcd968);
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.checkBtn:hover {
  background: #fed336;
  background-image: -webkit-linear-gradient(top, #fed336, #fed336);
  background-image: -moz-linear-gradient(top, #fed336, #fed336);
  background-image: -ms-linear-gradient(top, #fed336, #fed336);
  background-image: -o-linear-gradient(top, #fed336, #fed336);
  background-image: linear-gradient(to bottom, #fed336, #fed336);
  text-decoration: none;
}