.menuFont{
    font-family: Kartika;
    letter-spacing: 2px;
    font-weight: 800;
    font-size: 22px;
    text-align: center;
    height:50px; line-height:50px; overflow:hidden;
    position: relative;
    top: 0px;
}

.sysTitle{
    font-family: Khmer UI;
    letter-spacing: 1px;
    font-size: 22px;
    font-weight: 500;
    color: #868686;
}

.sysTitleBold{
    font-family: Khmer UI;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    color:#868686;
}

.sysText{
    font-family: Khmer UI;
    font-size: 19px;
    font-weight: 500;
    color:#868686;
}

.sysTitleBold_c{
    font-family: 黑体;
    font-size: 18px;
    color: #444444;
    font-weight: 600；
}

.sysText_c{
    font-family: 微软雅黑;
    font-size: 15px;
    color: #444444;
    font-weight: 300;
}

.title{
    font-family: 黑体;
    font-size: 19px;
    color: #444444;
    font-weight: 300
}
.titleBold{
    font-family: 黑体;
    font-size: 20px;
    color: #444444;
    font-weight: 500
}
.text{
    font-family: 微软雅黑;
    font-size: 14px;
    color: #222;
    font-weight: 300;
}
.text_w{
    font-family: 微软雅黑;
    font-size: 16px;
    color: white;
    font-weight: 400;  
}
.sysLink{
    font-family: 微软雅黑;
    font-size: 14px;
    color: #3377aa;
    font-weight: 300;
}
.sysLink visited{
    color: white;
    background-color: #3377aa;
}

.sysTitle_c{
    font-family: 华文细黑;
    font-size: 19px;
    color:#868686;
    font-weight: 400;
}
.sysLink_bold{
    font-family: 微软雅黑;
    font-size: 16px;
    color: #3377aa;
    font-weight: 500;
}
#submitBtn{
    margin-top:15px;margin-bottom:15px;width:120px;height:35px;position:relative;float:right;
    font-family: 微软雅黑;
    font-size: 15px;
}

.getMore{
    position: relative;
    display: block;
    
    height: 28px;
    text-align: center;
    line-height: 28px;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    background-color: #eb8901;
    border-radius: 2px;
    text-decoration: none;
    margin: 0 auto;
}

.getMore hover{
    background-color: #fed778;
}

.page {
    margin-top: 20px;
}
.fr {
    float: right;
}
.page span {
    display: inline;
    padding:0 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 0 5px;
    border: 1px solid #ffcc33;
    display: inline-block;
    background-color: #ffcc33;
    color: #fff;
}
.a2, .a2:visited, .a2:link, .a2:active {
    color: #333333;
    text-decoration: none;
}
.page a {
    background-color: #fff;
    padding: 0 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    display: inline-block;
    border: 1px solid #ffcc33;
    margin: 0 4px;
}
.page .turing {
    border: 0 none;
    color: #ffcc33
}
a:link { text-decoration: none; } /*正常情况下无下划线*/
a:visited { text-decoration: none; } /*访问过的链接无下划线*/